---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
// import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
// import Features2 from '~/components/widgets/Features2.astro';
// import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
// import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
// import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Quote from '~/components/widgets/Quote.astro';
// import { YouTube } from 'astro-embed';
// import myImage from '../assets/images/weight-loss-scale-with-centimeter-stethoscope-dumbbell-clipboard-pen-diet-concept.jpg';

const metadata = {
  title: 'Start',
  // ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Mehr Erfahren',
        href: '#features',
        target: '',
        icon: 'tabler:heart',
      },
      {
        text: 'Kontakt',
        href: '/contact',
      },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'Darmgesundheit' }}
  >
    <Fragment slot="title">
      <span class="text-accent xl:inline"> Wohlfühlgesundheit </span>
      <br />
      <span class="dark:text-white font-thin uppercase text-[1.15rem] sm:text-1xl md:text-3xl tracking-wide font-sans">
        Holistische Darmtherapie</span
      >
    </Fragment>

    <Fragment slot="subtitle">
      <span class="sm:inline">
        Vielleicht hast Du Symptome wie Müdigkeit oder Verdauungsbeschwerden? Oder Allergien,
        Nahrungsmittelunverträglichkeiten oder Zöliakie? Ich unterstütze Dich bei der Suche nach Lösungen.
      </span>
    </Fragment>
  </Hero>
  <Quote
    quote="Eure Nahrungsmittel sollen eure Heilmittel und eure Heilmittel eure Nahrungsmittel sein."
    author="Hippokrates"
  />
  <!-- Features Widget *************** -->
  <Features
    id="features"
    tagline="Angebote"
    title="Was ich für Dich tun kann"
    subtitle="In meinen Online-Coachings biete ich eine Vielzahl von Dienstleistungen rund um das Thema Darmgesundheit an. Hier findest Du eine Übersicht meiner Angebote und wie ich Dich unterstützen kann, Deine Gesundheit zu verbessern."
    items={[
      {
        title: 'Erstgespräch',
        description:
          'Im Erstgespräch analysiere ich Deine Beschwerden und Ziele. Wir entwickeln gemeinsam einen individuellen Plan für Deine Darmgesundheit.',
        icon: 'tabler:brand-hipchat',
      },
      {
        title: 'Stuhlanalyse',
        description:
          'Auf Basis der Stuhlanalyse gebe ich Dir Ernährungstipps zur Verbesserung Deiner Darmgesundheit. Bei auffälligen Werten empfehle ich eine ärztliche Abklärung.',
        icon: 'tabler:microscope',
      },
      {
        title: 'Ernährungstraining',
        description:
          'Ich helfe Dir, eine darmfreundliche Ernährung zu entwickeln und umzusetzen, die Deine Verdauung fördert.',
        icon: 'tabler:salad',
      },
      {
        title: 'Darmfachberatung',
        description:
          'In der Darmberatung analysiere ich Deine speziellen Beschwerden und erarbeite Lösungen zur Linderung und Förderung einer gesunden Darmflora.',
        icon: 'tabler:report-medical',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-green-100 dark:bg-transparent"></div>
    </Fragment>
  </Features>

  <!-- Content Widget **************** -->
  <Content
    tagline="Details"
    title="Angebote"
    items={[
      {
        title: 'Erstgespräch zur Darmgesundheit',
        description:
          'Im Erstgespräch analysiere ich Deine Beschwerden und Ziele, um einen individuellen Plan für Deine Darmgesundheit zu erstellen.',
      },
      {
        title: 'Individuelle Darmberatung',
        description:
          'Ich gehe gezielt auf Deine Darmprobleme ein und erarbeite Lösungen zur Linderung von Beschwerden wie Blähungen und Verstopfung.',
      },
      {
        title: 'Probiotische Unterstützung',
        description:
          'Ich erkläre Dir, wie Du Probiotika effektiv in Deine Ernährung integrieren kannst, um Deine Verdauung und Darmflora zu stärken.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1434030216411-0b793f4b4173?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-1xl uppercase font-medium tracking-tight dark:text-white sm:text-3xl mb-2">Erstgespräch</h3>
      Im Erstgespräch besprechen wir Deine Beschwerden und Ziele. Ich entwickle gemeinsam mit Dir Maßnahmen zur Verbesserung
      Deiner Darmgesundheit.
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-green-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->
  <Content
    isReversed
    items={[
      {
        title: 'Darmflora und Mikrobiom',
        description:
          'Wir analysieren die Zusammensetzung Deiner Mikrobiota und stellen durch Ernährungsumstellungen und Probiotika das Gleichgewicht wieder her.',
      },
      {
        title: 'Symptomatische Behandlung von Darmbeschwerden',
        description:
          'Ich entwickle mit Dir Lösungen zur Linderung von Blähungen, Reizdarmsymptomen und anderen Verdauungsstörungen.',
      },
      {
        title: 'Stress und Darmgesundheit',
        description:
          'Wir analysieren, wie Stress Deine Verdauung beeinflusst und welche Maßnahmen helfen, das Wohlbefinden zu steigern.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1505334559002-c2103a3e106b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-1xl uppercase font-medium tracking-tight dark:text-white sm:text-3xl mb-2">Darmfachberatung</h3>
      In der Darmfachberatung gehe ich gezielt auf Deine speziellen Darmprobleme ein und entwickle individuelle Strategien
      zur Linderung.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-green-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->
  <Content
    items={[
      {
        title: 'Ernährungsberatung für eine gesunde Verdauung',
        description:
          'Ich zeige Dir, wie Du ballaststoffreiche Lebensmittel in Deine Ernährung integrierst, um die Darmgesundheit zu fördern.',
      },
      {
        title: 'Darmfreundliche Rezepte',
        description:
          'Ich biete Dir Rezepte an, die prä- und probiotische Zutaten enthalten und Deine Verdauung unterstützen.',
      },
      {
        title: 'Langfristige Darmpflege',
        description:
          'Wir entwickeln einen Plan, der Dir hilft, Deine Verdauung langfristig zu verbessern und Deine Darmflora in Balance zu halten.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1498837167922-ddd27525d352?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-1xl uppercase font-medium tracking-tight dark:text-white sm:text-3xl mb-2">Ernährungstraining</h3>
      Im Ernährungstraining helfe ich Dir, eine darmfreundliche Ernährung zu entwickeln, die auf Deine Bedürfnisse abgestimmt
      ist.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-green-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->
  <Content
    isReversed
    items={[
      {
        title: 'Stuhluntersuchung und Darmgesundheit',
        description:
          'Mit einer Stuhluntersuchung erhalte ich wichtige Informationen über Deine Darmflora und kann Dir gezielte Empfehlungen geben.',
      },
      {
        title: 'Darmparasiten und ihre Auswirkungen',
        description:
          'Ich unterstütze Dich bei der Erkennung von Darmparasiten und zeige Dir, wie Du Deinen Darm von ihnen befreien kannst.',
      },
      {
        title: 'Nahrungsmittelunverträglichkeiten und der Darm',
        description:
          'Wir analysieren, welche Lebensmittel Deine Verdauung stören und entwickeln eine Strategie zur Verbesserung Deiner Darmgesundheit.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1486825586573-7131f7991bdd?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-1xl uppercase font-medium tracking-tight dark:text-white sm:text-3xl mb-2">Stuhlanalyse</h3>
      Auf Basis der Stuhlanalyse gebe ich Dir Ernährungstipps und Empfehlungen zur Verbesserung Deiner Darmgesundheit.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-green-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- FAQs Widget ******************* -->
  <FAQs
    title="Häufiggestellte Fragen"
    subtitle="Tauche in die folgenden Fragen ein, um Einblicke in die wichtigen Aspekte der Darmgesundheit zu erhalten und zu erfahren, wie Du Deine Verdauung und Dein Wohlbefinden verbessern kannst."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Was beinhaltet die Beratung zur Darmgesundheit?',
        description:
          'Die Beratung zur Darmgesundheit basiert auf wissenschaftlichen Erkenntnissen. Sie ersetzt keine medizinische Diagnostik oder Heilbehandlung. Bei auffälligen Beschwerden oder Laborwerten, die auf Erkrankungen hinweisen, empfehle ich die Konsultation eines Arztes oder Heilpraktikers.',
      },
      {
        title: 'Wie funktioniert das Erstgespräch?',
        description:
          'Im Erstgespräch gehen wir Deine Gesundheitsgeschichte durch und sprechen über Deine Beschwerden. Gemeinsam klären wir, wie ich Dich mit individueller Beratung unterstützen kann, um Deine Gesundheit zu fördern.',
      },
      {
        title: 'Welche Methoden verwendest Du?',
        description:
          'Ich nutze evidenzbasierte Methoden, um Deine Ernährung, Darmgesundheit und Stressbewältigung zu optimieren. Deine Bedürfnisse stehen dabei im Mittelpunkt, um eine nachhaltige Gesundheitsverbesserung zu erreichen.',
      },
      {
        title: 'Bietest Du Ernährungsberatung basierend auf Laborwerten an?',
        description:
          'Ja, ich biete Ernährungsberatung an, die auch Laboranalysen berücksichtigt. Die Ergebnisse von Stuhlanalysen dienen nur der Ernährungsoptimierung und nicht der medizinischen Diagnostik. Bei auffälligen Werten rate ich zu einer ärztlichen Abklärung.',
      },
      {
        title: 'Wie interpretierst Du Laborwerte, insbesondere Stuhlanalysen?',
        description:
          'Ich biete eine ernährungswissenschaftliche Auswertung von Stuhlanalysen an, um Deine Ernährung und Deinen Lebensstil zu optimieren. Medizinische Diagnosen und Therapieempfehlungen erfolgen durch qualifizierte Ärzte oder Heilpraktiker.',
      },
      {
        title: 'Was sind mögliche Laboruntersuchungen im Rahmen der Darmgesundheit?',
        description:
          'Mögliche Untersuchungen umfassen Stuhltests, Mikrobiom-Analysen und Laktosetests, die Aufschluss über das Gleichgewicht der Darmflora und mögliche Optimierungen in Deiner Ernährung geben.',
      },
      {
        title: 'Was bedeutet es, wenn okkultes Blut im Stuhl nachgewiesen wird?',
        description:
          'Okkultes Blut im Stuhl kann auf Entzündungen oder Mikrorisse im Darm hinweisen. Eine ärztliche Abklärung wird empfohlen, um die Ursache zu klären.',
      },
      {
        title: 'Was bedeutet eine reduzierte Anzahl von Bifidobacterium und Lactobacillus?',
        description:
          'Eine reduzierte Anzahl dieser Bakterien deutet auf ein Ungleichgewicht in der Darmflora hin. Eine Probiose-Therapie könnte hilfreich sein, um das Mikrobiom wieder ins Gleichgewicht zu bringen.',
      },
      {
        title: 'Was passiert, wenn ich eine Laktoseintoleranz habe?',
        description:
          'Wenn der Blutzuckerspiegel nach der Laktoseaufnahme erhöht ist, deutet dies auf eine Laktoseintoleranz hin. Es wird empfohlen, laktosehaltige Lebensmittel zu meiden und alternative Produkte zu verwenden.',
      },
    ]}
  />

  <!-- Call To Action **************** -->
  <CallToAction
    title="Möchtest Du mehr erfahren?"
    subtitle="Vereinbare jetzt Deinen Termin und starte den Weg zu besserer Gesundheit!"
    actions={[
      {
        text: 'Jetzt Kontakt aufnehmen',
        href: '/contact',
        variant: 'primary',
        icon: '',
      },
      {
        text: 'Mehr Erfahren',
        href: '#features',
      },
    ]}
  />
</Layout>
