---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
// import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
// import Features2 from '~/components/widgets/Features2.astro';
// import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
// import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
// import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Quote from '~/components/ui/Quote.astro';
// import { YouTube } from 'astro-embed';
import myImage from '../assets/images/weight-loss-scale-with-centimeter-stethoscope-dumbbell-clipboard-pen-diet-concept.jpg';

const metadata = {
  title: 'Gesundheitspraxis | Stefanie Leidel ',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Mehr Erfahren',
        href: '#features',
        target: '',
        icon: 'tabler:heart', 
      },
      { 
        text: 'Kontakt', 
        href: '/contact' 
      },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'Darmgesundheit' }}
  >    

    <Fragment slot="title">
      <span class="text-accent xl:inline">
        Gesundheitspraxis
      </span> <br/>
      <span class="dark:text-white font-thin uppercase text-[1.15rem] sm:text-1xl md:text-3xl tracking-wide font-sans"> Stefanie Leidel</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="sm:inline">
      <span class="font-semibold">
        Willkommen!</span> Ich helfe Dir, Deine Gesundheit zu verbessern. Vielleicht hast Du Symptome wie Müdigkeit oder Verdauungsbeschwerden? Oder Allergien, Nahrungsmittelunverträglichkeiten oder Zöliakie? Ich unterstütze Dich bei der Suche nach Lösungen.
      </span>
    </Fragment>

  </Hero>

  <Quote 
    quote="Eure Nahrungsmittel sollen eure Heilmittel und eure Heilmittel eure Nahrungsmittel sein." 
    author="Hippokrates" 
  />

  <!-- Features Widget *************** -->
  <Features
    id="features"
    tagline="Angebote"
    title="Was ich für dich tun kann"
    subtitle="In meiner Praxis biete ich eine Vielzahl von Dienstleistungen rund um das Thema Darmgesundheit an. Hier findest Du eine Übersicht meiner Angebote und wie ich Dich unterstützen kann, Deine Gesundheit zu verbessern."
    items={[
      {
        title: 'Erstgespräch',
        description:
          'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.',
        icon: 'tabler:brand-hipchat',
      },
      {
        title: 'Ernährungstraining',
        description:
          'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.',
        icon: 'tabler:salad',
      },
      {
        title: 'Darmfachberatung',
        description:
          'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.',
        icon: 'tabler:report-medical',
      },
      {
        title: 'Antlitzdiagnostik',
        description:
          'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.',
        icon: 'tabler:search',
      },
    ]}
  />

  <!-- Content Widget **************** -->
  <Content
    tagline="Details"
    title="Angebote"
    items={[
      {
        title: 'Lorem ipsum dolor sit amet',
        description:
        'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.',
      },
      {
        title: 'Lorem ipsum dolor sit amet',
        description:
        'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.',
      },
      {
        title: 'Lorem ipsum dolor sit amet',
        description:
        'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.',
      },
    ]}
    image={{
      src: 'https://images.pexels.com/photos/7176026/pexels-photo-7176026.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-1xl uppercase font-medium tracking-tight dark:text-white sm:text-3xl mb-2">Erstgespräch</h3>
      Im Erstgespräch besprechen wir Deine aktuellen Beschwerden und gesundheitlichen Ziele. Ich analysiere Deine Ernährungsgewohnheiten und Lebensweise, um individuelle Maßnahmen für Deine Darmgesundheit festzulegen.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-green-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>  

  <!-- Content Widget **************** -->
  <Content
  isReversed
  items={[
    {
      title: 'Lorem ipsum dolor sit amet',
      description:
        'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.',
    },
    {
      title: 'Lorem ipsum dolor sit amet',
      description:
        'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.',
    },
    {
      title: 'Lorem ipsum dolor sit amet',
      description:
      'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.',
    },
  ]}
  image={{
    src: 'https://images.pexels.com/photos/7298675/pexels-photo-7298675.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
    alt: 'Colorful Image',
  }}
>
  <Fragment slot="content">
    <h3 class="text-1xl uppercase font-medium tracking-tight dark:text-white sm:text-3xl mb-2">Darmfachberatung</h3>
    In der Darmfachberatung gehe ich gezielt auf Deine speziellen Darmprobleme ein. Gemeinsam erarbeiten wir Strategien zur Verbesserung Deiner Darmflora und zur Linderung von Beschwerden wie Blähungen, Durchfall oder Verstopfung.
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-green-50 dark:bg-transparent"></div>
  </Fragment>



  
</Content>

  <!-- Content Widget **************** -->
  <Content
    items={[
      {
        title: 'Lorem ipsum dolor sit amet',
        description:
          'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.',
      },
      {
        title: 'Lorem ipsum dolor sit amet',
        description:
          'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.',
      },
      {
        title: 'Lorem ipsum dolor sit amet',
        description:
        'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.',
      },
    ]}
    image={{
      src: myImage,
      alt: 'Colorful Image',
    }}
  >
  <Fragment slot="content">
    <h3 class="text-1xl uppercase font-medium tracking-tight dark:text-white sm:text-3xl mb-2">Ernährungstraining</h3>
    Im Ernährungstraining helfe ich Dir dabei, eine darmfreundliche Ernährung zu entwickeln und umzusetzen. Du erhältst von mir praktische Tipps und maßgeschneiderte Ernährungspläne, die speziell auf Deine Bedürfnisse abgestimmt sind.
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-green-50 dark:bg-transparent"></div>
  </Fragment>
</Content>

  <!-- Content Widget **************** -->
  <Content
  isReversed
  items={[
    {
      title: 'Lorem ipsum dolor sit amet',
      description:
        'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.',
    },
    {
      title: 'Lorem ipsum dolor sit amet',
      description:
        'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.',
    },
    {
      title: 'Lorem ipsum dolor sit amet',
      description:
      'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.',
    },
  ]}
  image={{
    src: 'https://image.jimcdn.com/app/cms/image/transf/dimension=237x1024:format=jpg/path/sb79b42c79099ee4d/image/i7b379654e415e580/version/1410251234/image.jpg',
    alt: 'Colorful Image',
  }}
>
  <Fragment slot="content">
    <h3 class="text-1xl uppercase font-medium tracking-tight dark:text-white sm:text-3xl mb-2">Antlitzdiagnostik</h3>
    Die Antlitzdiagnostik ist eine Methode, um über Dein Gesicht Hinweise auf mögliche gesundheitliche Störungen zu erkennen. Durch diese ganzheitliche Betrachtung kann ich gezielt auf Dein Gesundheitsbild eingehen und entsprechende Maßnahmen empfehlen.
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-green-50 dark:bg-transparent"></div>
  </Fragment>


</Content>

<!-- FAQs Widget ******************* -->
<FAQs
  title="Häufiggestellte Fragen"
  subtitle="Tauche in die folgenden Fragen ein, um Einblicke in die wichtigen Aspekte der Darmgesundheit zu erhalten und zu erfahren, wie Du Deine Verdauung und Dein Wohlbefinden verbessern kannst."
  tagline="FAQs"
  classes={{ container: 'max-w-6xl' }}
  items={[
    {
      title: 'Warum ist eine gesunde Darmflora wichtig?',
      description:
        'Eine gesunde Darmflora spielt eine entscheidende Rolle für das Immunsystem, die Verdauung und die allgemeine Gesundheit. Sie hilft, Nährstoffe aus der Nahrung aufzunehmen, schädliche Bakterien zu bekämpfen und die Darmbarriere zu stärken.',
    },
    {
      title: 'Welche Lebensmittel fördern eine gesunde Darmflora?',
      description:
        'Probiotika und Präbiotika sind entscheidend für eine gesunde Darmflora. Probiotische Lebensmittel wie Joghurt, Sauerkraut und Kimchi enthalten lebende Bakterien, die den Darm positiv beeinflussen. Präbiotische Lebensmittel wie Bananen, Zwiebeln und Knoblauch liefern Ballaststoffe, die das Wachstum gesunder Bakterien unterstützen.',
    },
    {
      title: 'Welche Rolle spielt Ballaststoff in der Darmgesundheit?',
      description:
        'Ballaststoffe sind unverzichtbar für eine gesunde Verdauung. Sie fördern die Darmbewegung, verhindern Verstopfung und unterstützen das Wachstum nützlicher Bakterien im Darm. Eine ballaststoffreiche Ernährung kann auch das Risiko von Darmkrebs senken.',
    },
    {
      title: 'Wie wirken sich Antibiotika auf den Darm aus?',
      description:
        'Antibiotika können sowohl schädliche als auch nützliche Bakterien im Darm abtöten, was zu einer Disbalance der Darmflora führen kann. Nach einer Antibiotikatherapie ist es wichtig, die Darmflora durch probiotische Lebensmittel oder Nahrungsergänzungsmittel wieder aufzubauen.',
    },
    {
      title: 'Kann Stress die Darmgesundheit beeinflussen?',
      description:
        'Ja, Stress kann die Darmgesundheit erheblich beeinflussen. Chronischer Stress kann die Darmbarriere schwächen, die Darmflora aus dem Gleichgewicht bringen und Verdauungsprobleme wie Reizdarmsyndrom (IBS) verschlimmern. Entspannungstechniken und eine ausgewogene Ernährung können helfen, die Darmgesundheit zu unterstützen.',
    },
    {
      title: 'Was ist Zöliakie und wie beeinflusst sie den Darm?',
      description:
        'Zöliakie ist eine Autoimmunerkrankung, bei der der Verzehr von Gluten die Darmzotten schädigt. Eine strikte glutenfreie Ernährung ist notwendig, um den Darm zu schützen und die Symptome zu vermeiden.',
    },
    {
      title: 'Kann die Darmgesundheit Diabetes mellitus Typ 2 beeinflussen?',
      description:
        'Ja, eine ungesunde Darmflora kann Insulinresistenz fördern und somit das Risiko für Typ-2-Diabetes erhöhen. Eine ballaststoffreiche Ernährung und Probiotika können helfen, die Darmgesundheit zu verbessern und das Diabetesrisiko zu senken.',
    },
    {
      title: 'Wie hängt die Darmgesundheit mit Hashimoto Thyreoiditis zusammen?',
      description:
        'Entzündungen im Darm können Autoimmunerkrankungen wie Hashimoto begünstigen. Eine gesunde Darmflora kann helfen, Entzündungen zu reduzieren und die Symptome zu lindern.',
    },
    {
      title: 'Können psychische Belastungen und Depressionen durch die Darmgesundheit beeinflusst werden?',
      description:
        'Ja, der Darm und das Gehirn sind eng verbunden. Eine gesunde Darmflora kann sich positiv auf die psychische Gesundheit auswirken und Symptome von Depressionen lindern.',
    },
    {
      title: 'Was ist das Reizdarmsyndrom (IBS) und wie wird es beeinflusst?',
      description:
        'Das Reizdarmsyndrom ist eine häufige Darmerkrankung, die durch eine gestörte Darmflora verschlimmert werden kann. Eine angepasste Ernährung und Probiotika können helfen, die Symptome zu lindern.',
    },
  ]}
/>

  <!-- CallToAction Widget *********** -->
  <CallToAction 
    actions={[
      {
        variant: 'primary',
        text: 'Zu den Angeboten',
        href: '/pricing',
        target: '',
        icon: 'tabler:heart',
      },
    ]}
  >
    <Fragment slot="title">
      Sorge für Deine Darmgesundheit!
    </Fragment>

    <Fragment slot="subtitle">
      Fühlst Du Dich oft müde und abgeschlagen? Hast Du Verdauungsbeschwerden oder Probleme mit Deiner Haut? Eine gesunde Darmflora kann viele Deiner Beschwerden lindern!
    </Fragment>

  </CallToAction
  >

  <!-- <Hero>
    <Fragment slot="image">
      <YouTube id="YewYiqzkyfI" title="" />
      <style is:inline>
        lite-youtube {
          margin: 0 auto;
          max-width: 100%;
          border: 1px solid #ccc;
        }
      </style>
    </Fragment>
  </Hero> -->

</Layout>
