---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
// import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Quote from '~/components/widgets/Quote.astro';
import Steps from '~/components/widgets/Steps.astro';
import Image from '~/components/common/Image.astro';

import certImage from '~/assets/images/INA_Cert2025.jpg';
const metadata = {
  title: 'Über mich',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    id="hero"
    title="Stefanie Leidel"
    tagline="Holistische Darmtherapeutin"
    actions={[{ variant: 'secondary', text: 'Mehr erfahren', href: '/homes/personal#about' }]}
  >
    <Fragment slot="subtitle">
      Ich freue mich, dass du den Weg zu meiner Seite gefunden hast. Mein
      Name ist Stefanie Leidel und als Holistische Darmtherapeutin unterstütze ich dich dabei, deine Gesundheit und dein
      Wohlbefinden zu verbessern.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-instagram',
        callToAction: {
          target: '_blank',
          text: 'Instagramm',
          href: 'https://www.instagram.com/stories/wohl_fuehl_gesundheit/',
        },
      },
/*       {
        icon: 'tabler:brand-facebook',
        callToAction: {
          target: '_blank',
          text: 'Facebook',
          href: '#',
        },
      },
 */      {
        icon: 'tabler:brand-pinterest',
        callToAction: {
          target: '_blank',
          text: 'Pinterest',
          href: '#',
        },
      },
    ]}
    image={{
      src: '~/assets/images/steffi.jpg',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-heading font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Über mich</h2>
      <p>
        Als passionierte Ernährungscoach begleite ich dich auf deinem Weg zu einem gesünderen und glücklicheren Leben.
        Meine Leidenschaft für Ernährung und Gesundheit hat mich dazu inspiriert, Menschen zu unterstützen, ihre
        Ernährungsgewohnheiten zu verbessern und ihr Wohlbefinden zu steigern.
      </p>
      <br />
      <p>
        Ich glaube daran, dass jeder Mensch einzigartig ist und es keine "One-Size-Fits-All"-Lösungen gibt. Deshalb lege
        ich großen Wert darauf, individuelle Programme zu entwickeln, die auf deine Bedürfnisse und Ziele abgestimmt
        sind.
      </p>
      <br />
      <p>
        Egal, ob du abnehmen, deine Energie steigern oder einfach bewusster und gesünder leben möchtest – ich bin hier,
        um dich zu unterstützen. Mit praktischen Tipps, motivierenden Gesprächen und maßgeschneiderten Ernährungsplänen
        helfe ich dir, deine Gesundheitsziele zu erreichen und zu halten.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-green-100 dark:bg-dark"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Lebenslauf:"
    items={[
      {
        title:
          'Lorem ipsum <br /> <span class="font-normal">At vero eos et accusam et justo duo dolores et ea rebum.</span> <br /> <span class="text-sm font-normal">2021 - Present</span>',
        description: `Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Lorem ipsum <br /> <span class="font-normal">At vero eos et accusam et justo duo dolores et ea rebum.</span> <br /> <span class="text-sm font-normal">2010 - 2021</span>',
        description: `Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="education"
    title="Ausbildung:"
    items={[
      {
        title:
          'Lorem ipsum <br /> <span class="font-normal">Firma/Unternehmen, Stadt, Adresse</span> <br /> <span class="text-sm font-normal">2021 - Heute</span>',
        icon: 'tabler:school',
      },
      {
        title:
          'Lorem ipsum <br /> <span class="font-normal">Firma/Unternehmen, Stadt, Adresse</span> <br /> <span class="text-sm font-normal">2021 - Heute</span>',
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />
<section class="relative border-t dark:border-none not-prose scroll-mt-[72px]">
<div class="relative mx-auto px-4 md:px-6 py-12 md:py-16 lg:py-20 text-default intersect-once intersect-quarter intercept-no-queue motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade max-w-3xl">
  <h2 class="font-bold text-center leading-tighter tracking-tighter font-heading text-heading text-3xl lg:text-4xl">Zertifikate:</h2>    
</div>


<!-- Zertifikat Bild -->
<div class="relative mx-auto px-4 md:px-6 text-default intersect-once intersect-quarter intercept-no-queue motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade max-w-3xl">
  <Image
    src={certImage}
    alt="Zertifikate"
    class="w-full max-w-md mx-auto rounded-lg shadow-md"
    loading="lazy"
  />
</div>
</section>
  <!-- Features3 Widget ************** -->

  <Features3
    title="Fähigkeiten"
    classes={{ container: 'bg-green-50 dark:bg-transparent' }}
    subtitle="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Lorem ipsum dolor sit amet',
        description:
          'At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.',
      },
      {
        title: 'Lorem ipsum dolor sit amet',
        description:
          'At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.',
      },
      {
        title: 'Lorem ipsum dolor sit amet',
        description:
          'At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.',
      },
    ]}
  />
  <Quote quote="Die Natur kann von keinem belehrt werden,  sie weiß immer das Richtige." author="Hippokrates" />

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Das sagen meine Klienten"
    subtitle="Hier findest du einige Erfahrungsberichte meiner Klienten."
    testimonials={[
      {
        testimonial: `Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.`,
        name: 'Markus Fischer',
        job: 'Automatiktürenmonteur',
        image: {
          src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Markus Fischer',
        },
      },
      {
        testimonial: `Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.`,
        name: 'Sandra Muster',
        job: 'Bürokauffrau',
        image: {
          src: 'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=772&q=80',
          alt: 'Sandra Muster',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <!--   <CallToAction
    title="Du willst hier auch stehen?"
    subtitle="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
    actions={[
      {
        variant: 'primary',
        text: 'Schreib mir ',
        href: '/',
      },
    ]}
  />
 -->
</Layout>
