---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Quote from '~/components/ui/Quote.astro';
import Steps from '~/components/widgets/Steps.astro';
// import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Über mich',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Stefanie Leidel"
    tagline="Ernährungscoach"
    actions={[{ variant: 'primary', text: 'Schreibe mir', href: getPermalink('/contact#form') }]}
  >
    <Fragment slot="subtitle">
      Hallo, mein Name ist Stefanie Leidel, Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-instagram',
        callToAction: {
          target: '_blank',
          text: 'Instagramm',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-facebook',
        callToAction: {
          target: '_blank',
          text: 'Facebook',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-pinterest',
        callToAction: {
          target: '_blank',
          text: 'Pinterest',
          href: '#',
        },
      },
    ]}
    image={{
      src: '~/assets/images/steffi.jpg',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-heading font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Über mich</h2>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua.
      </p>
      <br />
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua.
      </p>
      <br />
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Lebenslauf"
    items={[
      {
        title:
          'Lorem ipsum <br /> <span class="font-normal">At vero eos et accusam et justo duo dolores et ea rebum.</span> <br /> <span class="text-sm font-normal">2021 - Present</span>',
        description: `Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Lorem ipsum <br /> <span class="font-normal">At vero eos et accusam et justo duo dolores et ea rebum.</span> <br /> <span class="text-sm font-normal">2010 - 2021</span>',
        description: `Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Ausbildung"
    items={[
      {
        title:
          'Lorem ipsum <br /> <span class="font-normal">Firma/Unternehmen, Stadt, Adresse</span> <br /> <span class="text-sm font-normal">2021 - Heute</span>',
        icon: 'tabler:school',
      },
      {
        title:
          'Lorem ipsum <br /> <span class="font-normal">Firma/Unternehmen, Stadt, Adresse</span> <br /> <span class="text-sm font-normal">2021 - Heute</span>',
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />
  <!-- Features3 Widget ************** -->

  <Features3
    title="Fähigkeiten"
    subtitle="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Lorem ipsum dolor sit amet',
        description:
          'At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.',
      },
      {
        title: 'Lorem ipsum dolor sit amet',
        description:
          'At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.',
      },
      {
        title: 'Lorem ipsum dolor sit amet',
        description:
          'At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.',
      },
    ]}
  />
  <Quote quote="Die Natur kann von keinem belehrt werden,  sie weiß immer das Richtige." author="Hippokrates" />
  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Das sagen meine Klienten"
    subtitle="Hier findest du einige Erfahrungsberichte meiner Klienten."
    testimonials={[
      {
        testimonial: `Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.`,
        name: 'Markus Fischer',
        job: 'Automatiktürenmonteur',
        image: {
          src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Markus Fischer',
        },
      },
      {
        testimonial: `Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.`,
        name: 'Sandra Muster',
        job: 'Bürokauffrau',
        image: {
          src: 'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=772&q=80',
          alt: 'Sandra Muster',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Du willst hier auch stehen?"
    subtitle="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
    actions={[
      {
        variant: 'primary',
        text: 'Schreib mir ',
        href: '/',
      },
    ]}
  />
</Layout>
